div.openDeck-view-hardwareDashboard-Canvas>svg {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

div.openDeck-view-hardwareDashboard-Canvas>svg * {
    transition: opacity 1s;
}

div.openDeck-view-hardwareDashboard-Canvas>svg {
    width: 100%;
}

@keyframes opendeckspin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.openDeck-view-hardwareDashboard-Canvas>svg use.spin {
    animation-name: opendeckspin;
    animation-duration: .7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.openDeck-view-hardwareDashboard-Canvas>svg #projector1:hover,
.openDeck-view-hardwareDashboard-Canvas>svg #projector2:hover,
.openDeck-view-hardwareDashboard-Canvas>svg #projector3:hover,
.openDeck-view-hardwareDashboard-Canvas>svg #projector4:hover,
.openDeck-view-hardwareDashboard-Canvas>svg #projector5:hover,
.openDeck-view-hardwareDashboard-Canvas>svg #projector6:hover,
.openDeck-view-hardwareDashboard-Canvas>svg #projector7:hover,
.openDeck-view-hardwareDashboard-Canvas>svg #floor:hover {
    fill: #fff3;
    z-index: 9;
}

.openDeck-view-hardwareDashboard-Canvas>svg #projector1:active,
.openDeck-view-hardwareDashboard-Canvas>svg #projector2:active,
.openDeck-view-hardwareDashboard-Canvas>svg #projector3:active,
.openDeck-view-hardwareDashboard-Canvas>svg #projector4:active,
.openDeck-view-hardwareDashboard-Canvas>svg #projector5:active,
.openDeck-view-hardwareDashboard-Canvas>svg #projector6:active,
.openDeck-view-hardwareDashboard-Canvas>svg #projector7:active,
.openDeck-view-hardwareDashboard-Canvas>svg #floor:active {
    stroke: #f80;
    stroke-width: 5;
    z-index: 9;
}

.openDeck-view-hardwareDashboard-Canvas>svg #projector1,
.openDeck-view-hardwareDashboard-Canvas>svg #projector2,
.openDeck-view-hardwareDashboard-Canvas>svg #projector3,
.openDeck-view-hardwareDashboard-Canvas>svg #projector4,
.openDeck-view-hardwareDashboard-Canvas>svg #projector5,
.openDeck-view-hardwareDashboard-Canvas>svg #projector6,
.openDeck-view-hardwareDashboard-Canvas>svg #projector7,
.openDeck-view-hardwareDashboard-Canvas>svg #floor {
    cursor: pointer;
    z-index: 0;
}

.openDeck-view-hardwareDashboard-Canvas #projector1Busy,
.openDeck-view-hardwareDashboard-Canvas #projector1Off,
.openDeck-view-hardwareDashboard-Canvas #projector1Mono,
.openDeck-view-hardwareDashboard-Canvas #projector1Stereo,
.openDeck-view-hardwareDashboard-Canvas #projector1Error,
.openDeck-view-hardwareDashboard-Canvas #projector1Warning,
.openDeck-view-hardwareDashboard-Canvas #projector2Busy,
.openDeck-view-hardwareDashboard-Canvas #projector2Off,
.openDeck-view-hardwareDashboard-Canvas #projector2Mono,
.openDeck-view-hardwareDashboard-Canvas #projector2Stereo,
.openDeck-view-hardwareDashboard-Canvas #projector2Error,
.openDeck-view-hardwareDashboard-Canvas #projector2Warning,
.openDeck-view-hardwareDashboard-Canvas #projector3Busy,
.openDeck-view-hardwareDashboard-Canvas #projector3Off,
.openDeck-view-hardwareDashboard-Canvas #projector3Mono,
.openDeck-view-hardwareDashboard-Canvas #projector3Stereo,
.openDeck-view-hardwareDashboard-Canvas #projector3Error,
.openDeck-view-hardwareDashboard-Canvas #projector3Warning,
.openDeck-view-hardwareDashboard-Canvas #projector4Busy,
.openDeck-view-hardwareDashboard-Canvas #projector4Off,
.openDeck-view-hardwareDashboard-Canvas #projector4Mono,
.openDeck-view-hardwareDashboard-Canvas #projector4Stereo,
.openDeck-view-hardwareDashboard-Canvas #projector4Error,
.openDeck-view-hardwareDashboard-Canvas #projector4Warning,
.openDeck-view-hardwareDashboard-Canvas #projector5Busy,
.openDeck-view-hardwareDashboard-Canvas #projector5Off,
.openDeck-view-hardwareDashboard-Canvas #projector5Mono,
.openDeck-view-hardwareDashboard-Canvas #projector5Stereo,
.openDeck-view-hardwareDashboard-Canvas #projector5Error,
.openDeck-view-hardwareDashboard-Canvas #projector5Warning,
.openDeck-view-hardwareDashboard-Canvas #projector6Busy,
.openDeck-view-hardwareDashboard-Canvas #projector6Off,
.openDeck-view-hardwareDashboard-Canvas #projector6Mono,
.openDeck-view-hardwareDashboard-Canvas #projector6Stereo,
.openDeck-view-hardwareDashboard-Canvas #projector6Error,
.openDeck-view-hardwareDashboard-Canvas #projector6Warning,
.openDeck-view-hardwareDashboard-Canvas #projector7Busy,
.openDeck-view-hardwareDashboard-Canvas #projector7Off,
.openDeck-view-hardwareDashboard-Canvas #projector7Mono,
.openDeck-view-hardwareDashboard-Canvas #projector7Stereo,
.openDeck-view-hardwareDashboard-Canvas #projector7Error,
.openDeck-view-hardwareDashboard-Canvas #projector7Warning,
.openDeck-view-hardwareDashboard-Canvas #floorBusy,
.openDeck-view-hardwareDashboard-Canvas #floorOff,
.openDeck-view-hardwareDashboard-Canvas #floorMono,
.openDeck-view-hardwareDashboard-Canvas #floorStereo,
.openDeck-view-hardwareDashboard-Canvas #floorError,
.openDeck-view-hardwareDashboard-Canvas #floorWarning {
    pointer-events: none;
    opacity: 0;
}

.openDeck-view-hardwareDashboard-Canvas.projector1Error #projector1Error,
.openDeck-view-hardwareDashboard-Canvas.projector2Error #projector2Error,
.openDeck-view-hardwareDashboard-Canvas.projector3Error #projector3Error,
.openDeck-view-hardwareDashboard-Canvas.projector4Error #projector4Error,
.openDeck-view-hardwareDashboard-Canvas.projector5Error #projector5Error,
.openDeck-view-hardwareDashboard-Canvas.projector6Error #projector6Error,
.openDeck-view-hardwareDashboard-Canvas.projector7Error #projector7Error,
.openDeck-view-hardwareDashboard-Canvas.floorError #floorError {
    opacity: 1
}
.openDeck-view-hardwareDashboard-Canvas.projector1Off #projector1Off,
.openDeck-view-hardwareDashboard-Canvas.projector2Off #projector2Off,
.openDeck-view-hardwareDashboard-Canvas.projector3Off #projector3Off,
.openDeck-view-hardwareDashboard-Canvas.projector4Off #projector4Off,
.openDeck-view-hardwareDashboard-Canvas.projector5Off #projector5Off,
.openDeck-view-hardwareDashboard-Canvas.projector6Off #projector6Off,
.openDeck-view-hardwareDashboard-Canvas.projector7Off #projector7Off,
.openDeck-view-hardwareDashboard-Canvas.floorOff #floorOff {
    opacity: 1
}
.openDeck-view-hardwareDashboard-Canvas.projector1Mono #projector1Mono,
.openDeck-view-hardwareDashboard-Canvas.projector2Mono #projector2Mono,
.openDeck-view-hardwareDashboard-Canvas.projector3Mono #projector3Mono,
.openDeck-view-hardwareDashboard-Canvas.projector4Mono #projector4Mono,
.openDeck-view-hardwareDashboard-Canvas.projector5Mono #projector5Mono,
.openDeck-view-hardwareDashboard-Canvas.projector6Mono #projector6Mono,
.openDeck-view-hardwareDashboard-Canvas.projector7Mono #projector7Mono,
.openDeck-view-hardwareDashboard-Canvas.floorMono #floorMono {
    opacity: 1
}
.openDeck-view-hardwareDashboard-Canvas.projector1Stereo #projector1Stereo,
.openDeck-view-hardwareDashboard-Canvas.projector2Stereo #projector2Stereo,
.openDeck-view-hardwareDashboard-Canvas.projector3Stereo #projector3Stereo,
.openDeck-view-hardwareDashboard-Canvas.projector4Stereo #projector4Stereo,
.openDeck-view-hardwareDashboard-Canvas.projector5Stereo #projector5Stereo,
.openDeck-view-hardwareDashboard-Canvas.projector6Stereo #projector6Stereo,
.openDeck-view-hardwareDashboard-Canvas.projector7Stereo #projector7Stereo,
.openDeck-view-hardwareDashboard-Canvas.floorStereo #floorStereo {
    opacity: 1
}
.openDeck-view-hardwareDashboard-Canvas.projector1Busy #projector1Busy,
.openDeck-view-hardwareDashboard-Canvas.projector2Busy #projector2Busy,
.openDeck-view-hardwareDashboard-Canvas.projector3Busy #projector3Busy,
.openDeck-view-hardwareDashboard-Canvas.projector4Busy #projector4Busy,
.openDeck-view-hardwareDashboard-Canvas.projector5Busy #projector5Busy,
.openDeck-view-hardwareDashboard-Canvas.projector6Busy #projector6Busy,
.openDeck-view-hardwareDashboard-Canvas.projector7Busy #projector7Busy,
.openDeck-view-hardwareDashboard-Canvas.floorBusy #floorBusy {
    opacity: 1
}

@media (max-width: 800px) {
    div.openDeck-view-hardwareDashboard-Canvas>svg #captionWide {
        display: none;
    }
}

@media (min-width: 800px) {
    div.openDeck-view-hardwareDashboard-Canvas>svg #captionNarrow {
        display: none;
    }
}
